<mat-card>
    <mat-card-title>Excluir Produto</mat-card-title>
    <form>
        <!-- NOME -->
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [value]="product.name" name="name" disabled>
        </mat-form-field>

        <!-- PREÇO -->
        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
            [value]="product.price" name="price" disabled>
        </mat-form-field>

        <!-- CÓDIGO DE BARRAS -->
        <mat-form-field>
            <input matInput placeholder="Cód. Barras"
            [value]="product.code" name="code" disabled>
        </mat-form-field>

        <!-- QUANTIDADE -->
        <mat-form-field>
            <input matInput placeholder="Quantidade"
            [value]="product.quantity" name="quantity" disabled>
        </mat-form-field>

        <!-- CATEGORIA -->
        <mat-form-field>
            <input matInput placeholder="Categoria"
            [value]="product.category" name="category" disabled>
        </mat-form-field>
    </form>
</mat-card>
<button mat-raised-button (click)="deleteProduct()" color="warn">
    Excluir
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>