.sidenav {
    background-color: #0055A8;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

.container {
    margin: 0;
    width: 100%;
    --bs-gutter-x: 0;
}